<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Détails du profil</h3>
    </div>


  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Prénom</label>

      <div class="col-lg-8">

        <span class="fw-bolder fs-6 text-dark">{{ _user.firstName }}</span>
      </div>
    </div>



    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Nom
        <i
          class="fas fa-exclamation-circle ms-1 fs-7"
          data-bs-toggle="tooltip"
          title="Phone number must be active"
        ></i>
      </label>

      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 me-2">{{ _user.lastName }} </span>

      </div>
    </div>


    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Email
        <i
          class="fas fa-exclamation-circle ms-1 fs-7"
          data-bs-toggle="tooltip"
          title="Country of origination"
        ></i>
      </label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-dark">{{ _user.email }}</span>
      </div>
    </div>



  </div>
</div>


  <div class="col-xl-6">
    <app-tables-widget5
      class="card card-xxl-stretch mb-5 mb-xl-10"
    ></app-tables-widget5>
  </div>

