
<div class="d-flex flex-column flex-root" id="kt_app_root">
  <!--begin::Authentication - Sign-in -->
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <!--begin::Logo-->
    <a href="/authorize/login" class="d-block d-lg-none mx-auto py-20">
      <img alt="Logo" src="assets/img/logo.png" class="theme-light-show h-25px">
      <img alt="Logo" src="assets/img/logo.png" class="theme-dark-show h-25px">
    </a>
    <!--end::Logo-->


    <!--begin::Body-->
    <div class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat"
         style="background-image: url(assets/img/welcom.jpg);height: 730px;"></div>
    <!--begin::Body-->

    <!--begin::Aside-->
    <div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
<router-outlet ></router-outlet>
    </div>
    <!--end::Aside-->

  </div>
  <!--end::Authentication - Sign-in-->
</div>
