<div class="card-body d-flex align-items-center pt-3 pb-0">
  <div class="d-flex flex-column flex-grow-1 py-2 py-lg-13 me-2">
    <a href="#" class="fw-bolder text-dark fs-4 mb-2 text-hover-primary">
      Would you like to confirm ?
    </a>

<div class="
stepper stepper-pills stepper-column
d-flex
flex-column flex-xl-row flex-row-fluid
" id="kt_create_account_stepper">
<!--begin::Aside-->
<div
class="card d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px me-9">
<div class="card-body px-6 px-lg-10 px-xxl-15 py-20">
  <div class="stepper-nav">

    <div class="stepper-item" [ngClass]="{
      }">
      <!--begin::Wrapper-->
      <div class="stepper-wrapper">


        <!--begin::Label-->
        <div class="stepper-label">
          <h3 class="stepper-title">
            How to apply for a course ?
          </h3>

          <div class="stepper-desc fw-semibold">
            (Please follow these steps)
          </div>
        </div>
        <!--end::Label-->
      </div>
      <!--end::Wrapper-->
      <br><br>
    </div>

    <div class="stepper-item" [ngClass]="{
      }">
      <!--begin::Wrapper-->
      <div class="stepper-wrapper">
        <!--begin::Icon-->
        <div class="stepper-icon w-40px h-40px">
          <i class="stepper-check fas fa-check"></i>
          <span class="stepper-number">1</span>
        </div>
        <!--end::Icon-->

        <!--begin::Label-->
        <div class="stepper-label">
          <h3 class="stepper-title">
            Select Your Preferred Course
          </h3>
          <div class="stepper-desc fw-semibold">
            Based on Your Department.
          </div>
        </div>
        <!--end::Label-->
      </div>
      <!--end::Wrapper-->

      <!--begin::Line-->
      <div class="stepper-line h-40px"></div>
      <!--end::Line-->
    </div>

    <div class="stepper-item" [ngClass]="{
      }">
      <!--begin::Wrapper-->
      <div class="stepper-wrapper">
        <!--begin::Icon-->
        <div class="stepper-icon w-40px h-40px">
          <i class="stepper-check fas fa-check"></i>
          <span class="stepper-number">2</span>
        </div>
        <!--end::Icon-->

        <!--begin::Label-->
        <div class="stepper-label">
          <h3 class="stepper-title">
            Complete the Enrollment Form
          </h3>
          <div class="stepper-desc fw-semibold">
          </div>
        </div>
        <!--end::Label-->
      </div>
      <!--end::Wrapper-->

      <!--begin::Line-->
      <div class="stepper-line h-40px"></div>
      <!--end::Line-->
    </div>

    <div class="stepper-item" [ngClass]="{
      }">
      <!--begin::Wrapper-->
      <div class="stepper-wrapper">
        <!--begin::Icon-->
        <div class="stepper-icon w-40px h-40px">
          <i class="stepper-check fas fa-check"></i>
          <span class="stepper-number">3</span>
        </div>
        <!--end::Icon-->

        <!--begin::Label-->
        <div class="stepper-label">
          <h3 class="stepper-title">
            Administration Confirmation
          </h3>
          <div class="stepper-desc fw-semibold">
            The administration will review your enrollment and respond.
          </div>
          <div class="stepper-desc fw-semibold">
          </div>
        </div>
        <!--end::Label-->
      </div>
      <!--end::Wrapper-->

      <!--end::Wrapper-->
    </div>
  </div>
</div>
</div>
<!--begin::Aside-->
</div>

<br>

    <span class="fw-bold text-muted fs-5">
      <ng-content select="description"></ng-content>
    </span>
  </div>

</div>
